<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="QLVTEntities" connectionString="metadata=res://*/Model.ModelQLVT.csdl|res://*/Model.ModelQLVT.ssdl|res://*/Model.ModelQLVT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HY-PC;initial catalog=QLVT;user id=sa;password=52401091314;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="QLVT.Properties.Settings.QLVTConnectionString" connectionString="Data Source=HY-PC;Initial Catalog=QLVT;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="QLVT.Properties.Settings.QLVTConnectionString1" connectionString="Data Source=HY-PC;Initial Catalog=QLVT;User ID=sa;Password=52401091314"
    providerName="System.Data.SqlClient" />
  <add name="QLVT.Properties.Settings.QLVTConnectionString2" connectionString="Data Source=HY-PC\HANYUN2;Initial Catalog=QLVT;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="QLVT.Properties.Settings.QLVTConnectionString3" connectionString="Data Source=HY-PC\HANYUN2;Initial Catalog=QLVT;User ID=sa;Password=52401091314"
    providerName="System.Data.SqlClient" />
  <add name="QLVT.Properties.Settings.QLVTConnectionString4" connectionString="Data Source=HY-PC\HANYUN1;Initial Catalog=QLVT;User ID=sa;Password=52401091314"
    providerName="System.Data.SqlClient" />
</connectionStrings></configuration>